<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1> <br>
    <h2>
      Your time for your vehicle with license plate <%= @placa %>
      in space <%= @numspace %> in floor <%= @floorspace %>
      have <%= @horafinal %> to finish.
    </h2>

    <p>Please sure come for your vehicle!</p>

  </body>
</html>