<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks to trust in GParkin</h1> <br>
    <h2>
      Your space is <%= @numspace %> in floor <%= @floorspace %>
    </h2>

    <p>Have a great day and see you soon!</p>

  </body>
</html>