<h1> Records</h1>

<%= render 'record', record: @record %>

<%= link_to 'New Record', new_record_path %>


<% spaces = Space.new%>
<p>Espacios dispnibles para carros =
<%= spaces.espacios_disponibles_carros%> </p>
<br>

<p>Espacios dispnibles para motos =
<%= spaces.espacios_disponibles_motos%> </p>
<br>